/* 1. Tailwind Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background: #EFEFEF;
}

.bg-heroSection {
  background-image: url('/images/hero/hero.svg');
  @apply bg-no-repeat bg-cover bg-center rounded-[44px];
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}